@model Student_Management_System.Models.StudentsPageWithAds
@{
    ViewData["Title"] = "Students";
}


     <div class="container my-4">
    <div class="container my-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0">Welcome @ViewBag.SessionData</h1>
            <a asp-controller="Student" asp-action="EnterName" class="btn btn-outline-danger rounded-pill">
                🔒 Logout
            </a>
        </div>
    </div>
    <h3>All Students</h3>
        <div class="table-responsive">
        <table class="table table-bordered table-light align-middle shadow-sm rounded">
            <thead class="bg-white text-dark border-bottom">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Student)
                {
                    <tr>
                        <td>@student.Name</td>
                        <td>@student.Email</td>
                        <td>@student.Age</td>
                        <td>
                            <a asp-action="Edit" class="btn btn-sm btn-warning me-1" asp-route-id="@student.Id">Edit</a>
                            <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@student.Id">Delete</a>
                        </td>
                    </tr>
                }
                    
                </tbody>
            </table>
        </div>
        <br />
    <a asp-controller="Student" asp-action="Add" class="btn btn-dark rounded-pill px-4 push-right">➕ Add New</a>
    </div>
    <br/>
@if (TempData["ms"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["ms"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}
<br/>
<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var ads in Model.FoodAds)
        {
            <partial name="_ShowAds" model="ads" />
        } 
</div>
</div>
<br />